<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    
    <title>Dental Fenix</title>
</head>
<body>
    <header>
        <section class="content-header">
            <img src="/images/logo.png" alt="">
            <h2 class="--dental_title">Dental Fenix</h2>
        </section>
        <!--------------------------------->
        <input type="checkbox" class="menu">
        <label for="" class="menu-off"></label>
        <!--------------------------------->
        <section class="--despliegue">
            <ul>
                <a href="/">
                <li class="one">
                    <svg class="invert" viewBox="-1 0 43.998 43.998" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                        <path id="_01.Home" data-name="01.Home" d="M44.715,23.711a.975.975,0,0,1-1.381,0L34.4,14.773a1.019,1.019,0,0,1-.17-.171L30.4,10.773a1.019,1.019,0,0,1-.17-.171L24,4.377,4.667,23.711A.977.977,0,0,1,3.286,22.33l19.905-19.9a.935.935,0,0,1,.094-.144,1.05,1.05,0,0,1,1.43,0,.925.925,0,0,1,.1.144L30,7.616V5h0a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1v8.619l8.715,8.714A.977.977,0,0,1,44.715,23.711ZM34,6H32V9.616l2,2ZM10,22a1,1,0,0,1,1,1V42a2,2,0,0,0,2,2h6V31a1,1,0,0,1,1-1h8a1,1,0,0,1,1,1V44h6a2,2,0,0,0,2-2V23a1,1,0,0,1,2,0V42a4,4,0,0,1-4,4H13a4,4,0,0,1-4-4V23A1,1,0,0,1,10,22ZM27,44V32H21V44h6Z" transform="translate(-3 -2)" fill-rule="evenodd"/>
                    </svg>
                    <p>Inicio</p>
                </li>
                </a>
                <a href="/guia">
                <li class="two">
                    <svg class="invert" viewBox="-6 0 46 46" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                        <path id="_13.Clipboard" data-name="13.Clipboard" d="M37,47H11a4,4,0,0,1-4-4V8a4,4,0,0,1,4-4h3a1,1,0,0,1,0,2H11A2,2,0,0,0,9,8V43a2,2,0,0,0,2,2H37a2,2,0,0,0,2-2V8a2,2,0,0,0-2-2H34a1,1,0,0,1,0-2h3a4,4,0,0,1,4,4V43A4,4,0,0,1,37,47ZM35,9a1,1,0,0,1-1,1H14a1,1,0,0,1,0-2,3.7,3.7,0,0,0,2-1l2-2a2.781,2.781,0,0,1,2-1h1a3,3,0,0,1,6,0h1a2.549,2.549,0,0,1,2,1l2,2a3.7,3.7,0,0,0,2,1A1,1,0,0,1,35,9ZM24,3a1,1,0,0,0-1,1h2A1,1,0,0,0,24,3Zm5.363,4a2.406,2.406,0,0,0-1.817-1H20.455a2.4,2.4,0,0,0-1.818,1l-.909,1H30.273Z" transform="translate(-7 -1)" fill-rule="evenodd"/>
                      </svg>
                    <p>¿Necesitas ayuda?</p>
                </li>
                </a>
                <a href="/logout">
                <li class="three">
                    <svg class="invert" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                        <path id="_30.User" data-name="30.User" d="M24,45A21,21,0,1,1,45,24,21,21,0,0,1,24,45Zm11.633-6c-.157-.231-.355-.518-.514-.742-.277-.394-.554-.788-.8-1.178C34.305,37.062,32.935,35.224,28,35a2.922,2.922,0,0,1-2.968-3.066L25,31c0-.135-.016.148,0,0V30l1-1a14.435,14.435,0,0,0,2.4-1.464l.135-.093A4.643,4.643,0,0,0,30,26l.036-.381A55.987,55.987,0,0,0,31,19c0-4.71-2.29-7-7-7-4.775,0-7,2.224-7,7a54.693,54.693,0,0,0,.963,6.616l.035.352a3.981,3.981,0,0,0,1.449,1.462l.1.062A19.174,19.174,0,0,0,22,29l1,1v1c.014.138,0-.146,0,0l-.033.934A2.9,2.9,0,0,1,20.084,35h0c-4.956.2-6.393,2.077-6.4,2.077-.252.4-.528.789-.807,1.184-.157.224-.355.51-.513.741a18.917,18.917,0,0,0,23.267,0ZM24,5A18.986,18.986,0,0,0,10.85,37.694c.382-.565.79-1.129,1.15-1.694,0,0,1.67-2.743,8-3,.645,0,.967-.422.967-1.066h0c0-.521,0-.934,0-.934,0-.13-.021-.247-.027-.373A17.5,17.5,0,0,1,18.4,29.133S16,27.657,16,26a60.16,60.16,0,0,1-1-7c0-4.644,1.986-9,9-9,6.92,0,9,4.356,9,9a61.784,61.784,0,0,1-1,7c0,1.611-2.4,3.133-2.4,3.133a13.873,13.873,0,0,1-2.543,1.546c0,.109-.023.209-.023.321,0,0,0,.413,0,.934h0c0,.644.32,1.066.965,1.066,6.424.288,8,3,8,3,.36.565.767,1.129,1.149,1.694A18.985,18.985,0,0,0,24,5Z" transform="translate(-3 -3)" fill-rule="evenodd"/>
                      </svg>
                    <p>Cerrar sesión</p>
                </li>
                </a>
            </ul>
        </section>
    </header>